discord = 2.0.0
discord-command
discord-ext-bot
discord-ext-menus
discord-pretty-help
discord.py
discord-py-interactions
discord.py-pagination
discord-py-slash-command
dislash.py
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
grequests
gspread
py-cord
requests
asyncio
aiohttp 
async-timeout
urllib3
python-dotenv